In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#getting data in jupyter
path = r'C:\Users\mande\OneDrive\Documents\Instacart Basket folder 20th April 2023'

In [3]:
#shortcut 
df_prods = pd.read_csv(os.path.join(path, 'Data', 'original data', 'products.csv'), index_col = False)

In [4]:
#creating a suset
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'original data', 'order_products__prior.csv'),index_col = False)

In [5]:
#shortcut 
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared data', 'orders_wrangled.csv'), index_col = False)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 7)

In [10]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

In [16]:
#checking with merge flag
df_merged_large['_merge'].value_counts().how= 'outer'

In [17]:
#Importing data with pickle method
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_and_prior_order_combined.pkl'))